
    <div class="site-wrapper">
        <!-- Site Header -->
          <header class="site-header">
                  <div class="container">
                      <div class="row justify-content-center align-items-center position-relative">
                         
                          <div class="brand">
                            <a href="" style="text-align: center;"><img src="assets/image/wawkis.png" alt="" /></a>
                        </div>
                        </div>
                  </div>
          </header>
    
          <!-- Hero-Area starts -->
    
          <section class="hero-area">
            <div class="container ">
              <div class="row ">
                <div class="col-lg-12 col-md-12 col-xl-12 order-2 order-md-1">
                  <div class="hero-content">
                    <br>
                    <h1 class="titulo-principal">TALLER ONLINE GRATUITO</h1>
                    <h3>
                        Cómo Aplicar los Sistemas de Información Geográfica SIG en el TURISMO COMUNITARIO
                    </h3> <br><br>
                    <h3> <i class="fas fa-calendar"></i> Viernes 26 de febrero de 2021</h3> <br>
                    <h3> <i class="fas fa-clock"></i> 17h00 – 18h00 (hora Ecuador)</h3>
                    <div class="hero-btn">
                      <a href="#registro" class="btn btn-hero">Registrarme</a>
                    </div>
                  </div>
                </div>
    <!-- 
                <div class="col-lg-6 col-md-6 col-xl-7 order-1 order-md-2">
                  <div class="hero-image shape">
                    <img src="assets/image/hero-img.png" alt="" />
                  </div>
                </div> -->
              </div>
            </div>
          </section>
    
    
    
          <!-- About starts -->
    
          <section class="about-section-01">
            <div class="container">
              <div class="about-shape shape">
                <img src="assets/image/about-left-shape.svg" alt="" />
              </div>
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-xl-5 order-2 order-md-1">
                  <div class="about-left-content">
                    <h2>Descripción</h2>
                    <p>
                        En este entrenamiento GRATUITO aprenderás las claves para manejar los Sistemas de Información Geográfica “SIG”, aplicado al Turismo Comunitario.
                    </p>

                    <p>
                        Este evento lo planteamos, después de 15 años de experiencia en el turismo comunitario, y después de haber trabajado en múltiples proyectos acompañando a las comunidades. 
                    </p>
                    <p>

                        Pasa de ser un proveedor de servicios, a un profesional líder en la innovación del Turismo Comunitario a través del uso de nuevas tecnologías.
                    </p>

                   
                    <div class="about-btn">
                      <a href="#registro" class="registrarme"
                        >Registrarme <i class="icon icon-minimal-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
    
                <div
                  class="col-lg-6 col-md-6 col-xl-6 offset-xl-1 order-1 order-md-2"
                >
                  <div class="about-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BYM4lytfAzs?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
        
    
          <!-- Feature starts -->
    
          <section class="feature-section" id="features">
            <div class="container position-relative">
              <div class="about-right-content">
                <h2>En este taller aprenderás.</h2>
              </div>
           
              <!-- <div class="shape feature-shape">
                <img src="./assets/image/feature-bg-2.svg" alt="" />
              </div> -->
    
              <div class="row mb-d-30 shape-bg">
    
                <div class="shape-half test1"></div>
                <div class="shape-half test2"></div>
                <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1 mb--30">
                  <div class="feature-widget">
                    <div class="widget-icon">
                      <!-- <i class="icon icon-edit-72"></i> -->
                      <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                      <h5>Cómo organizar una base de datos en torno a los ejes del Turismo Comunitario</h5>
                      <!-- <p>
                        Event is not like most tech conferences. We want our
                        presentations to engage the audience, spark discussion and
                        inspire new ideas.
                      </p> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-5 mb--30">
                  <div class="feature-widget">
                    <div class="widget-icon">
                      <!-- <i class="icon icon-layers-3"></i> -->
                     <i class="fas fa-parachute-box    "></i>
                    </div>
                    <div class="content">
                      <h5>Cómo utilizar los productos de la Fotogrametría con drones en el turismo</h5>
                      <!-- <p>
                        Event is not like most tech conferences. We want our
                        presentations to engage the audience, and inspire new ideas.
                      </p> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1 mb--30">
                  <div class="feature-widget">
                    <div class="widget-icon">
                        <i class="fas fa-chart-area    "></i>
                    </div>
                    <div class="content">
                      <h5>Cómo realizar consultas y análisis a nuestra base de datos</h5>
                      <!-- <p>
                        Event is not like most tech conferences. We want our
                        presentations to engage the audience, and inspire new ideas.
                      </p> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-5 mb--30">
                  <div class="feature-widget">
                    <div class="widget-icon">
                      <!-- <i class="icon icon-book-open-2"></i> -->
                      <i class="fa fa-map" aria-hidden="true"></i>
                    </div>
                    <div class="content">
                      <h5>Cómo realizar mapas temáticos que apoyen a la planificación turística</h5>
                      <!-- <p>
                        Event is not like most tech conferences. We want our
                        presentations to engage the audience, and inspire new ideas.
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    
    
    
          <!-- Footer Section -->
          <div id="registro" class="footer-section">
            <div class="container margin-decrese">
              <div class="row registro">
                <div class="col-lg-12 col-sm-12 col-margin">
                  <div class="about-right-content">
                    <h2>Reservar mi plaza</h2>
                  </div>
                  <form #f="ngForm">
                    <div class="form-group col-sm-6">
                      <label for="formGroupExampleInput">Nombres</label>
                      <input class="form-control"  [(ngModel)]="nombres" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="formGroupExampleInput2">Correo</label>
                      <input  class="form-control" [(ngModel)]="correo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="formGroupExampleInput2">Teléfono</label>
                      <input  class="form-control" [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button (click)="guardar()" class="btn btn-registro btn-lg">Registrarme</button>
                    <!-- <div class="hero-btn">
                      <a href="#registro" class="btn btn-hero">Registrarme</a>
                    </div> -->
    
                    
                  </form>
    
               
                </div>
           
              </div>
            </div>
          </div>
        </div>
    
    