body{
    background-color: whitesmoke !important;
}

table{
    color: whitesmoke;
}

thead{
    background-color: red;
}

.hero-btn{
    background-color: red;
    color: whitesmoke i !important;
 text-align: center;
    width: 230px;
}

.btn-hero{
    color: whitesmoke;
}